.steps {
  .steps__grid {
    display: flex;
    gap: 4rem;
    justify-content: space-around;

    // 650px
    @media screen and (max-width: $bp-large) {
      gap: 1.5rem;
    }

    // 650px
    @media screen and (max-width: $bp-medium) {
      display: block;
    }
  }

  .step {
    flex: 1 1 33%;
  
    border-radius: 4px;
    overflow: hidden;
    height: 55vh;
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    // 1024px
    @media screen and (max-width: $bp-large) {
      height: 40vh;
    }

    // 650px
    @media screen and (max-width: $bp-medium) {
      height: 35vh;

      &:not(:last-child) {
        margin-bottom: 1.5rem;
      }
    }

    &--1 {
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.35)),
        url("../assets/Step1.png");
    }
    &--2 {
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.35)),
        url("../assets/Step2.png");
    }
    &--3 {
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.35)),
        url("../assets/Step3.png");
    }

    &__empty {
      flex: 1;
    }

    &__content {
      padding: 2rem;

      // 1024px
      @media screen and (max-width: $bp-large) {
        padding: 1rem;
      }
    }

    &__number {
      display: inline-block;
      background-color: var(--color-light-red);
      border-radius: 100rem;
      color: var(--color-white);
      font-family: 'Montserrat';
      font-size: 1rem;
      font-weight: 400;
      padding: 4px 16px;
      text-transform: uppercase;
    }

    &__header {
      color: var(--color-white);
      font-family: 'Montserrat';
      font-size: 2.4rem;
      line-height: 1.1;
    }

    &__description {
      color: var(--color-grey-light-2);
      font-family: 'Roboto';
      font-size: 1.4rem;
      font-weight: 300;
    }
  }
}