.spacing {
  &--sm > * + * {
    margin-top: 1.75rem;
  }
  &--md > * + * {
    margin-top: 3rem;
  }
  &--lg > * + * {
    margin-top: 7rem;
  }
  &--xl > * + * {
    margin-top: 10rem;
  }
}

.container {
  margin: 0 auto;
  max-width: 70vw;

  // 1024px
  @media screen and (max-width: $bp-large) {
    max-width: 90vw;
  }
}

.section-header {
  color: var(--color-grey-dark-2);
  font-family: 'Montserrat';
  font-size: 2.2rem;
  font-weight: 700;
  text-align: center;
}